@media only screen and (max-width: 1280px){
    /*Main width*/
header {
    width: 100%;
    height: 121px;
}
.container {
    width: 100%;
}
.logo {
    width: 36%;
}
.logo img {
    width: 143px;
    height: 118px;
    padding-left: 34px;
}

.menu {
    width: 64%;
}
.menu img {
    width: 480px;
    height: 69px;
    margin-left: 164px;
    margin-top: 10px;
}
.bandiv4 {
    width: 1.5%;
}
.bandiv3 {
    width: 48.5%;
}.bandiv2 {
    width: 48.5%;
}
.bandiv2 h1 {
    font-size: 28px;
}
.bandiv2 h2 {
    font-size: 54px;
    line-height: 57px;
}
.bandiv1 {
    width: 1.5%;
}
.descript {
    width: 100%;
}
.descript h1 {
    font-size: 36px;
}
.descript1 {
    width: 33.33%;
}
.descript1 h2 {
    font-size: 24px;
}
.descript1 p {
    padding: 20px 15px 0px 15px;
    font-size: 18px;
    line-height: 22px;
}

.descript2 {
    width: 33.33%;
}
.descript2 h2 {
    font-size: 24px;
}
.descript2 p {
    padding: 20px 15px 0px 15px;
    font-size: 18px;
    line-height: 22px;
}

.descript3 {
    width: 33.33%;
}
.descript3 h2 {
    font-size: 24px;
}
.descript3 p {
    padding: 20px 15px 40px 15px;
    font-size: 18px;
    line-height: 22px;
}


}

@media only screen and (max-width: 1024px){
    /*Main width*/
header {
    width: 100%;
    height: 121px;
}
.container {
    width: 100%;
}
.logo {
    width: 36%;
}
.logo img {
    width: 143px;
    height: 118px;
    padding-left: 34px;
}

.menu {
    width: 64%;
}
.menu img {
    width: 480px;
    height: 69px;
    margin-left: 164px;
    margin-top: 10px;
}
.bandiv4 {
    width: 1.5%;
}
.bandiv3 {
    width: 48.5%;
}.bandiv2 {
    width: 48.5%;
}
.bandiv2 h1 {
    font-size: 28px;
}
.bandiv2 h2 {
    font-size: 54px;
    line-height: 57px;
}
.bandiv1 {
    width: 1.5%;
}
.descript {
    width: 100%;
}
.descript h1 {
    font-size: 36px;
}
.descript1 {
    width: 33.33%;
}
.descript1 h2 {
    font-size: 24px;
}
.descript1 p {
    padding: 20px 15px 0px 15px;
    font-size: 18px;
    line-height: 22px;
}

.descript2 {
    width: 33.33%;
}
.descript2 h2 {
    font-size: 24px;
}
.descript2 p {
    padding: 20px 15px 0px 15px;
    font-size: 18px;
    line-height: 22px;
}

.descript3 {
    width: 33.33%;
}
.descript3 h2 {
    font-size: 24px;
}
.descript3 p {
    padding: 20px 15px 40px 15px;
    font-size: 18px;
    line-height: 22px;
}


}

@media only screen and (max-width: 991px){
/*991 WIDTH*/

header {
    width: 100%;
}
.container {
    width: 100%;
}
.logo {
    width: 36%;
}
.logo img {
    width: 150px;
    height: 126px;
    padding-left: 34px;
}
.menu {
    width: 64%;
}
.menu img {
    width: 546px;
    height: 74px;
    margin-left: 88px;
    margin-top: -12px;
}
.bandiv4 {
    width: 1.5%;
}
.bandiv3 {
    width: 48.5%;
}
label {
    width: 30%;
    font-size: 21px;
    padding: 13px 0px 13px 0px;
    box-shadow: -1px 1px 6px -1px #000000;
}
input[type="text"] {
    width: 68%;
    padding: 14px 0px 14px 7px;
    font-size: 19px;
    box-shadow: 3px 1px 6px -2px #000000;
}
input[type="email"]{
    width: 68%;
    padding: 14px 0px 14px 7px;
    font-size: 19px;
    box-shadow: 3px 1px 6px -2px #000000; 
}
.bandiv2 {
    width: 48.5%;
}
.bandiv2 h2 {
    font-size: 46px;
    line-height: 57px;
    padding: 0px 30px 0px 30px;
}
.bandiv2 h1 {
    font-size: 26px;
    padding: 100px 0px 0px 0px;
}
.bandiv1 {
    width: 1.5%;
}
.descript {
    width: 100%;
}
.descript h1 {
    margin: -431px 50px 74px 50px;
    font-size: 29px;
}
.descript1 {
    width: 33.33%;
}
.descript1 h2 {
    font-size: 21px;
    padding: 0px 40px 0px 40px;
}
.descript1 p {
    padding: 20px 15px 0px 15px;
    font-size: 18px;
    line-height: 22px;
}

.descript2 {
    width: 33.33%;
}
.descript2 h2 {
    font-size: 21px;
    padding: 0px 40px 0px 40px;

}
.descript2 p {
    padding: 20px 15px 0px 15px;
    font-size: 18px;
    line-height: 22px;
}

.descript3 {
    width: 33.33%;
}
.descript3 h2 {
    font-size: 21px;
    padding: 0px 40px 0px 40px;
}
.descript3 p {
    padding: 20px 15px 40px 15px;
    font-size: 18px;
    line-height: 22px;
}



@media only screen and (max-width: 822px){
/*991 WIDTH*/

header {
    width: 100%;
    height: 170px;
}
.container {
    width: 100%;
}
.logo {
    width: 100%;
    text-align: center;
}
.logo img {
    width: 225px;
    height: 171px;
    padding-left: 0px;
}
.menu {
    width: 100%;
}
.menu img {
    width: 100%;
    margin: 0px 0px 0px 0px;
}

section.banner {
    width: 100%;
    height: 1038px;
    background-image: url(../img/tablogo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   
}

.bandiv1 {
    width: 0%;
}
.bandiv2 {
    width: 100%;
    padding-top: 90px;
}
.bandiv2 h1 {
    padding: 0px 0px 0px 0px;
    font-size: 28px;
}

.bandiv3 {
    width: 90%;
    margin: -180px 0px 0px 36px;
    text-align: center;
    height: 377px;
    box-shadow: 0px 0px 2px 0px #FFFFFF;
}
label {
    font-size: 23px;
    padding: 14px 10px 14px 0px;
    width: 19%;
    box-shadow: 0px 0px 6px 0px #1f1f1f;
}
.bandiv1st {
    margin: 0px 0px 0px 40px;
}
.bandiv2nd {
    margin: 0px 0px 0px 40px;
}
label:hover{
box-shadow: 0px 1px 6px #FFFFFF;
}


.descript h1 {
    margin: -410px 50px 60px 50px;
    font-size: 37px;
    line-height: 37px;
}
form {
    width: 100%;
}
input[type="text"] {
    font-size: 19px;
    padding: 15px 0px 15px 5px;
    border-radius: 0px 4px 4px 0px;
    border: 0px solid;
    box-shadow: 3px 1px 6px -1px #1f1f1f;
    width: 64.5%;
    margin: 0px 0px 10px 0px;
}

input[type="email"] {
    font-size: 19px;
    padding: 15px 0px 15px 5px;
    border-radius: 0px 4px 4px 0px;
    border: 0px solid;
    box-shadow: 3px 1px 6px -1px #1f1f1f;
    width: 64.5%;
    margin: 0px 0px 0px 0px;
}
input[type="submit"] {
    padding: 11px 0px 11px 0px;
    font-size: 27px;
    width: 22%;
    margin: 10px 27px 0px 0px;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 1px 3px #1F1F1F;
}

input[type="submit"]:hover{
box-shadow: 0px 1px 2px 2px #000000ad;
}
.descript {
    width: 100%;
}
.descript1 {
    width: 100%;
}
.descript1 p {
    padding: 20px 90px 60px 90px;
    font-size: 20px;
}
.descript2 {
    width: 100%;
}
.descript2 p {
    padding: 20px 90px 60px 90px;
    font-size: 20px;
}
.descript3 {
    width: 100%;
}
.descript3 p {
    padding: 20px 90px 60px 90px;
    font-size: 20px;
}
.footer1 i {
    font-size: 18px;
}
   }

}

@media only screen and (max-width: 768px) {
  /* For tab phones: */
header {
    width: 100%;
    height: 170px;
}
.container {
    width: 100%;
}
.logo {
    width: 100%;
    text-align: center;
}
.logo img {
    width: 225px;
    height: 171px;
    padding-left: 0px;
}
.menu {
    width: 100%;
}
.menu img {
    width: 100%;
    margin: 0px 0px 0px 0px;
}

section.banner {
    width: 100%;
    height: 1038px;
    background-image: url(../img/tablogo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   
}

.bandiv1 {
    width: 0%;
}
.bandiv2 {
    width: 100%;
    padding-top: 90px;
}
.bandiv2 h1 {
    padding: 0px 0px 0px 0px;
    font-size: 28px;
}

.bandiv3 {
    width: 90%;
    margin: -180px 0px 0px 36px;
    text-align: center;
    height: 377px;
    box-shadow: 0px 0px 2px 0px #FFFFFF;
}
label {
    font-size: 23px;
    padding: 14px 10px 14px 0px;
    width: 19%;
    box-shadow: 0px 0px 6px 0px #1f1f1f;
}
.bandiv1st {
    margin: 0px 0px 0px 40px;
}
.bandiv2nd {
    margin: 0px 0px 0px 40px;
}
label:hover{
box-shadow: 0px 1px 6px #FFFFFF;
}


.descript h1 {
    margin: -410px 50px 60px 50px;
    font-size: 37px;
    line-height: 37px;
}
form {
    width: 100%;
}
input[type="text"] {
    font-size: 19px;
    padding: 15px 0px 15px 5px;
    border-radius: 0px 4px 4px 0px;
    border: 0px solid;
    box-shadow: 3px 1px 6px -1px #1f1f1f;
    width: 64.5%;
    margin: 0px 0px 10px 0px;
}

input[type="email"] {
    font-size: 19px;
    padding: 15px 0px 15px 5px;
    border-radius: 0px 4px 4px 0px;
    border: 0px solid;
    box-shadow: 3px 1px 6px -1px #1f1f1f;
    width: 64.5%;
    margin: 0px 0px 0px 0px;
}
input[type="submit"] {
    padding: 11px 0px 11px 0px;
    font-size: 27px;
    width: 39%;
    margin: 10px 47px 0px 0px;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 1px 3px #1F1F1F;
}

input[type="submit"]:hover{
box-shadow: 0px 1px 2px 2px #000000ad;
}
.descript {
    width: 100%;
}
.descript1 {
    width: 100%;
}
.descript1 p {
    padding: 20px 90px 60px 90px;
    font-size: 20px;
}
.descript2 {
    width: 100%;
}
.descript2 p {
    padding: 20px 90px 60px 90px;
    font-size: 20px;
}
.descript3 {
    width: 100%;
}
.descript3 p {
    padding: 20px 90px 60px 90px;
    font-size: 20px;
}
.footer1 i {
    font-size: 18px;
}
   }


@media only screen and (max-width: 669px) {
  /* For tab phones: */

label {
    width: 20%;
}
   }

@media only screen and (max-width: 638px) {
  /* For tab phones: */

label {
    width: 24%;
}
.bandiv1st {
    margin: 0px 0px 0px -18px;
}

.bandiv2nd {
    margin: 0px 0px 0px -18px;
}


   }

@media only screen and (max-width: 495px){
label {
    width: 25%;
}
}
@media only screen and (max-width: 480px){
  /* For mobile phones: */
header {
    width: 100%;
    
}
.container {
    width: 100%;
}
.logo {
    width: 100%;
    text-align: center;
}
.logo img {
    width: 225px;
    height: 171px;
    padding-left: 0px;
}
.menu {
    width: 100%;
}
.menu img {
    width: 100%;
    height: 95px;
    margin-left: 0px;
    margin-right: 0px;
}
section.banner {
    width: 100%;
    height: 918px;
    background-image: url(../img/mobilebaner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.bandiv1 {
    width: 0%;
    display: none;
}

.bandiv2 {
    width: 100%;
    padding-top: 74px;
}

.bandiv2 h1 {
    padding: 0px 4px 0px 10px;
    font-size: 26px;
}
.bandiv2 h2 {
    padding: 0px 25px 0px 25px;
    font-size: 45px;
}
.bandiv3 {
    width: 88%;
    margin: -211px 0px 0px 26px;
    text-align: center;
    height: 305px;
}
.bandiv3 h2 {
    text-align: center;
    color: #F8EA97;
    font-family: 'Chakra Petch';
    padding: 38px 0px 37px 0px;
    font-size: 35px;
}
label {
       font-size: 17px;
    padding: 8px 2px 8px 4px;
    width: 26%;
    margin: 0px 0px 0px 0px;
}
.bandiv1st {
    margin: 0px 0px 0px -12px;
}
.bandiv2nd {
    margin: 0px 0px 0px -12px;
}


label:hover{
box-shadow: 0px 1px 6px #FFFFFF;
}
input[type="text"] {
    font-size: 19px;
    margin-left: 5px;
    padding: 10px 16px 10px 7px;
}
.descript h1 {
    margin: -415px 26px 70px 26px;
    font-size: 30px;
}
input[type="text"] {
    font-size: 15px;
    padding: 11px 0px 12px 5px;
    border-radius: 0px 4px 4px 0px;
    border: 0px solid;
    box-shadow: 3px 1px 6px -1px #1f1f1f;
    width: 59%;
    margin: 0px 0px 10px 0px;
}


input[type="email"] {
       font-size: 15px;
    padding: 11px 0px 12px 5px;
    border-radius: 0px 4px 4px 0px;
    border: 0px solid;
    box-shadow: 3px 1px 6px -1px #1f1f1f;
    width: 59%;
    margin: 0px 0px 0px 0px;
}
input[type="submit"] {
    padding: 12px 0px 12px 0px;
    font-size: 20px;
    width: 35%;
    margin: 17px 52px 0px 0px;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 1px 3px #1F1F1F;
}
input[type="submit"]:hover{
box-shadow: 0px 1px 2px 2px #000000ad;
}

.descript {
    width: 100%;
}
.descript1 {
    width: 100%;
}
.descript1 button {
    margin: 0px 0px 39px 0px;
    padding: 10px 20px 10px 20px;
    font-size: 30px;
}
.descript1 p {
    padding: 20px 40px 60px 40px;
}
.descript2 {
    width: 100%;
}
.descript2 button {
    margin: 0px 0px 39px 0px;
    padding: 10px 20px 10px 20px;
    font-size: 30px;
}
.descript2 p {
    padding: 20px 40px 60px 40px;
}
.descript3 {
    width: 100%;
}
.descript3 button {
    margin: 0px 0px 39px 0px;
    padding: 10px 20px 10px 20px;
    font-size: 30px;
}
.descript3 p {
    padding: 20px 25px 70px 25px;
}
.footer1 i {
    font-size: 15px;
    padding: 8px 0px 3px 0px;
}


 }
 @media only screen and (max-width: 425px){
    /*PHPON*/

header {
    width: 100%;
    height: 162px;
}
.container {
    width: 100%;
}
.logo {
    width: 100%;
    text-align: center;
}
.logo img {
    width: 225px;
    height: 171px;
    padding-left: 0px;
}
.menu {
    width: 100%;
}
.menu img {
    display: none;
}
section.banner {
    width: 100%;
    background-image: url(../img/mobilebaner.png);
    background-repeat: no-repeat;
    background-size: 426px;
    background-attachment: fixed;
    height: 887px;
}

.bandiv1 {
    width: 0%;
}

.bandiv2 {
    width: 100%;
    padding-top: 90px;
}

.bandiv2 h1 {
    font-size: 23px;
    margin: -37px 0px 0px 0px;
}
.bandiv2 h2 {
    padding: 30px 10px 0px 10px;
    font-size: 43px;
    line-height: 45px;
}
.bandiv3 {
    width: 87%;
    margin: -245px 0px 0px 27px;
    height: 300px;
    text-align: center;
}
.bandiv3 h2 {
    padding: 25px 0px 20px 0px;
}

.descript h1 {
    margin: -393px 0px 70px 0px;
    font-size: 25px;
}
label {
       font-size: 17px;
    padding: 8px 2px 8px 4px;
    width: 26%;
    margin: 0px 0px 0px 0px;
}
.bandiv1st {
    margin: 0px 0px 0px -12px;
}
.bandiv2nd {
    margin: 0px 0px 0px -12px;
}

input[type="text"] {
    font-size: 15px;
    padding: 11px 0px 12px 5px;
    border-radius: 0px 4px 4px 0px;
    border: 0px solid;
    box-shadow: 3px 1px 6px -1px #1f1f1f;
    width: 59%;
    margin: 0px 0px 10px 0px;
}


input[type="email"] {
       font-size: 15px;
    padding: 11px 0px 12px 5px;
    border-radius: 0px 4px 4px 0px;
    border: 0px solid;
    box-shadow: 3px 1px 6px -1px #1f1f1f;
    width: 59%;
    margin: 0px 0px 0px 0px;
}
input[type="submit"] {
    padding: 12px 0px 12px 0px;
    font-size: 20px;
    margin: 15px 42px 0px 0px;
    width: 38%;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 1px 3px #1F1F1F;
}
input[type="submit"]:hover{
box-shadow: 0px 1px 2px 2px #000000ad;
}

.descript {
    width: 100%;
}
.descript1 {
    width: 100%;
}
.descript1 button {
    margin: -25px 0px 25px 0px;
}
.descript1 p {
    padding: 20px 15px 60px 15px;
    font-size: 16px;
}
.descript2 {
    width: 100%;
}
.descript2 p {
    padding: 20px 28px 60px 28px;
    font-size: 16px;
}
.descript3 {
    width: 100%;
}
.descript3 p {
    padding: 20px 15px 60px 15px;
    font-size: 16px;
}
.footer1 i {
    font-size: 15px;
    padding: 8px 0px 3px 0px;
}

}

@media only screen and (max-width: 375px){
/*Phone*/
header {
    width: 100%;
    height: 124px;
}
.container {
    width: 100%;
}
.logo {
    width: 100%;

}
.logo img {
    width: 140px;
    height: 119px;
}

.menu {
    width: 100%;
}
.menu img {
    width: 275px;
    height: 70px;
    margin: -29px 0px 0px 20px;
    display: none;
}

section.banner {
    width: 100%;
    height: 736px;
    background-image: url(../img/smallphone.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: 0px;
    background-position-y: 0px;
    background-size: 377px;
}

.bandiv2 {
    width: 100%;
    padding-top: 65px;
}
.bandiv2 h1 {
    font-size: 20px;
    padding: 0px 5px 0px 5px;
    margin: 0px 0px 0px 0px;
}
.bandiv2 h2 {
    font-size: 32px;
    padding: 0px 35px 0px 35px;
    line-height: 41px;
}
.bandiv3 {
    width: 85%;
    margin: -315px 0px 0px 29px;
    height: 282px;
}

.bandiv3 h2 {
    padding: 15px 0px 14px 0px;
    font-weight: 600;
}
form {
    width: 100%;
}

label {
       font-size: 17px;
    padding: 8px 2px 8px 4px;
    width: 26%;
    margin: 0px 0px 0px 0px;
}
.bandiv1st {
    margin: 0px 0px 0px -12px;
}
.bandiv2nd {
    margin: 0px 0px 0px -12px;
}

input[type="text"] {
    font-size: 15px;
    padding: 11px 0px 12px 5px;
    border-radius: 0px 4px 4px 0px;
    border: 0px solid;
    box-shadow: 3px 1px 6px -1px #1f1f1f;
    width: 59%;
    margin: 0px 0px 10px 0px;
}


input[type="email"] {
       font-size: 15px;
    padding: 11px 0px 12px 5px;
    border-radius: 0px 4px 4px 0px;
    border: 0px solid;
    box-shadow: 3px 1px 6px -1px #1f1f1f;
    width: 59%;
    margin: 0px 0px 0px 0px;
}
input[type="submit"] {
    padding: 12px 0px 12px 0px;
    font-size: 20px;
    width: 39%;
    margin: 15px 42px 0px 0px;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 1px 3px #1F1F1F;
}
.descript h1 {
    padding: 0px 8px 0px 8px;
    margin: -450px 0px 0px 0px;
    font-size: 20px;
}
.descript1 button {
    font-size: 20px;
    padding: 14px 22px 14px 22px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 700;
    font-family: 'Arapey', serif;
}
.descript1 h2 {
    font-size: 19px;
    font-weight: 600;
}
.descript1 p {
    padding: 8px 13px 0px 13px;
    font-size: 14px;
}

.descript2 button {
    font-size: 20px;
    padding: 14px 22px 14px 22px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 700;
    font-family: 'Arapey', serif;
}
.descript2 h2 {
    font-size: 19px;
    font-weight: 600;
}
.descript2 p {
    padding: 8px 13px 0px 13px;
    font-size: 14px;
}

.descript3 button {
    font-size: 20px;
    padding: 14px 22px 14px 22px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 700;
    font-family: 'Arapey', serif;
}
.descript3 h2 {
    font-size: 19px;
    font-weight: 600;
}
.descript3 p {
    padding: 8px 13px 38px 13px;
    font-size: 14px;
}

.footer1 i {
    font-size: 12px;
}

}

@media only screen and (max-width: 360px){ 
/*Phone*/
header {
    width: 100%;
    height: 124px;
}
.container {
    width: 100%;
}
.logo {
    width: 100%;

}
.logo img {
    width: 140px;
    height: 119px;
}

.menu {
    width: 100%;
}
.menu img {
    width: 275px;
    height: 70px;
    margin: -29px 0px 0px 20px;
    display: none;
}

section.banner {
    width: 100%;
    height: 736px;
    background-image: url(../img/smallphone.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: 0px;
    background-position-y: 0px;
    background-size: cover;
}

.bandiv2 {
    width: 100%;
    padding-top: 65px;
}
.bandiv2 h1 {
    font-size: 20px;
    padding: 0px 5px 0px 5px;
    margin: -30px 0px 0px 0px;
}
.bandiv2 h2 {
    font-size: 36px;
    padding: 0px 10px 0px 10px;
    line-height: 41px;
}
.bandiv3 {
    width: 86%;
    margin: -298px 0px 0px 24px;
    padding: 0px 0px 0px 0px;
    height: 265px;
    text-align: center;
}
.bandiv3 h2 {
    padding: 15px 0px 14px 0px;
    font-weight: 600;
    font-size: 28px;
}
form {
    width: 100%;
}

.bandiv1st {
    width: 100%;
    float: left;
    margin: 0px;
}
.bandiv2nd {
    width: 100%;
    float: left;
    margin: 8px 0px;
}
label {
    font-size: 17px;
    padding: 8px 2px 8px 5px;
    width: 32.5%;
    margin: 0px 0px 0px -15px;
}



input[type="text"] {
      font-size: 15px;
    padding: 11px 0px 12px 5px;
    border-radius: 0px 4px 4px 0px;
    border: 0px solid;
    box-shadow: 3px 1px 6px -1px #1f1f1f;
    width: 57%;
    margin: 0px 0px 0px 0px;
}


input[type="email"] {
       font-size: 15px;
    padding: 11px 0px 12px 5px;
    border-radius: 0px 4px 4px 0px;
    border: 0px solid;
    box-shadow: 3px 1px 6px -1px #1f1f1f;
    width: 57%;
    margin: 0px 0px 0px 0px;
}
input[type="submit"] {
    padding: 12px 0px 12px 0px;
    font-size: 20px;
    width: 42%;
    margin-top: 15px;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 1px 3px #1F1F1F;
}
.descript h1 {
    padding: 0px 8px 0px 8px;
    margin: -444px 0px 0px 0px;
    font-size: 20px;
}
.descript1 button {
    font-size: 20px;
    padding: 14px 22px 14px 22px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 700;
    font-family: 'Arapey', serif;
}
.descript1 h2 {
    font-size: 19px;
    font-weight: 600;
}
.descript1 p {
    padding: 8px 13px 0px 13px;
    font-size: 14px;
}

.descript2 button {
    font-size: 20px;
    padding: 14px 22px 14px 22px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 700;
    font-family: 'Arapey', serif;
}
.descript2 h2 {
    font-size: 19px;
    font-weight: 600;
}
.descript2 p {
    padding: 8px 13px 0px 13px;
    font-size: 14px;
}

.descript3 button {
    font-size: 20px;
    padding: 14px 22px 14px 22px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 700;
    font-family: 'Arapey', serif;
}
.descript3 h2 {
    font-size: 19px;
    font-weight: 600;
}
.descript3 p {
    padding: 8px 20px 38px 20px;
    font-size: 14px;
}

.footer1 i {
    font-size: 12px;
}

}


@media only screen and (max-width: 320px){
/*SMALL phone*/

header {
    width: 100%;
    height: 110px;
}
.container {
    width: 100%;
}
.logo {
    width: 100%;

}
.logo img {
    width: 140px;
    height: 119px;
}

.menu {
    width: 100%;
}
.menu img {
    width: 275px;
    height: 70px;
    margin: -29px 0px 0px 20px;
}

section.banner {
    width: 100%;
    height: 736px;
    background-image: url(../img/smallphone.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position-x: -21px;
    background-position-y: 108px;
    background-size: 366px;
}

.bandiv2 {
    width: 100%;
    padding-top: 65px;
}
.bandiv2 h1 {
    font-size: 17px;
    padding: 0px 5px 0px 5px;
}
.bandiv2 h2 {
    font-size: 28px;
    padding: 0px 30px 0px 30px;
    line-height: 37px;
}
.bandiv3 {
    width: 85%;
    margin: -398px 0px 0px 23px;
    height: 230px;
}

.bandiv3 h2 {
    padding: 15px 0px 14px 0px;
    font-weight: 600;
    font-size: 30px;
}
form {
    width: 100%;
}
.bandiv1st {
    width: 100%;
    margin: 0px;
}
.bandiv2nd {
    width: 100%;
}



label {
    font-size: 16px;
    width: 35%;
    padding: 7px 0px 7px 0px;
    float: left;
    margin: 0px 0px 0px -12px;
}
.email {
    padding: 0px 34px 0px 0px;
}
input[type="text"] {
    font-size: 14px;
    padding: 11px 0px 11px 7px;
    width: 52%;
    border-radius: 0px 4px 4px 0px;
    border: 0px solid;
    float: left;
    box-shadow: 3px 2px 5px -1px #1f1f1f;
}
input[type="email"] {
    font-size: 14px;
    border-radius: 0px 4px 4px 0px;
    border: 0px solid;
    float: left;
    padding: 11px 0px 11px 7px;
    width: 52%;
    box-shadow: 3px 2px 4px -1px #1f1f1f;
}
input[type="submit"] {
    padding: 10px 0px 10px 0px;
    width: 40%;
    font-size: 18px;
    margin-top: 10px;
    box-shadow: 0px 1px 2px #1F1F1F;
    border-radius: 18px 18px 18px 18px;
}
.descript h1 {
    padding: 0px 0px 0px 0px;
    margin: -569px 0px 0px 0px;
    font-size: 20px;
}
.descript1 button {
    font-size: 20px;
    padding: 14px 22px 14px 22px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 700;
    font-family: 'Arapey', serif;
}
.descript1 h2 {
    font-size: 16px;
    font-weight: 600;
}
.descript1 p {
    padding: 8px 13px 0px 13px;
    font-size: 14px;
}

.descript2 button {
    font-size: 20px;
    padding: 14px 22px 14px 22px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 700;
    font-family: 'Arapey', serif;
}
.descript2 h2 {
    font-size: 16px;
    font-weight: 600;
}
.descript2 p {
    padding: 8px 13px 0px 13px;
    font-size: 14px;
}

.descript3 button {
    font-size: 20px;
    padding: 14px 22px 14px 22px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 700;
    font-family: 'Arapey', serif;
}
.descript3 h2 {
    font-size: 16px;
    font-weight: 600;
}
.descript3 p {
    padding: 8px 13px 38px 13px;
    font-size: 14px;
}
.footer {
    background-color: #252525;
    width: 100%;
    float: left;
    margin-bottom: -1px;
}
.footer1 i {
    font-size: 12px;
}

}
