
@media only screen and (max-width: 320px){
/*SMALL mobile*/
header {
 
    width: 100%;

}
.container {
    width: 100%;
}
.logo {
    width: 100%;
    text-align: center;
}
.logo img {
    width: 148px;
    height: 96px;
    padding-left: 0px;
}
menu {
   display: none;
}

section.banner {
    width: 100%;
    background-image: url(../img/smallphone.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-x: -46px;
    background-position-y: 0px;
}
.banner1 {
    width: 100%;
}
.bandiv1 {
display: none;
}
.bandiv2{
	width: 100%;
	text-align: center;
}
.bandiv2 h1 {
    font-size: 14px;
    padding: 15px 40px 0px 36px;
}
.bandiv2 h2 {
    text-align: center;
    font-size: 14px;
    padding: 0px 0px 0px 0px;
}
.bandiv3 {
    width: 80%;
    text-align: center;
    height: 209px;
    margin: -259px 0px 0px 30px;
}
.bandiv3 h2 {
    text-align: center;
    padding: 11px 0px 9px 0px;
}
.bandiv3 form{
    width: 80%;
    text-align: center;

}
label {
    margin: 8px -17px 0px -17px;
    padding: 0px 0px 0px 0px;
    font-size: 15px;
}
input[type="text"] {
    font-size: 13px;
    padding: 7px 0px 7px 1px;
    margin: 0px -4px 0px 8px;
    width: 159px;
}

input[type="email"] {
    font-size: 12px;
    margin: 0px -4px 0px 37px;
    padding: 8px 0px 8px 1px;
    width: 159px;
}
input[type="submit"] {
    padding: 9px 0px 9px 0px;
    font-size: 15px;
    margin: 18px 50px 0px 50px;
}
.bandiv4{
	display: none;
}

section.description{
	width: 100%;

}
.descript {
    width: 100%;
}
.descript h1 {
    text-align: center;
    margin: 17px 40px 0px 30px;
    font-size: 16px;
}
.descript1 {
    width: 100%;
    margin: 0px 0px -52px 0px;
}
.descript1 button {
    font-size: 26px;
    color: #7719AA;
    padding: 7px 16px 7px 16px;
    margin: 24px 0px 20px 0px;
}
.descript1 h2 {
  
    font-size: 14px;
    padding: 0px 0px 0px 0px;
}
.descript1 p {
    margin: 8px 10px 0px 10px;
    
    font-size: 13px;
}
.descript2 {
    width: 100%;
    margin: 0px 0px -52px 0px;
}
.descript2 button {
    font-size: 26px;
    color: #7719AA;
    padding: 7px 16px 7px 16px;
    margin: 0px 0px 15px 0px;
}
.descript2 h2 {
  
    font-size: 14px;
    padding: 0px 0px 0px 0px;
}
.descript2 p {
    margin: 8px 15px 0px 15px;
    
    font-size: 13px;
}
.descript3 {
    width: 100%;
    
}
.descript3 button {
    font-size: 26px;
    color: #7719AA;
    padding: 7px 16px 7px 16px;
    margin: 24px 0px 20px 0px;
}
.descript3 h2 {
  
    font-size: 14px;
    padding: 0px 0px 0px 0px;
}
.descript3 p {
    margin: 8px 15px 0px 15px;
    font-size: 13px;
}
section.footer {
    width: 100%;
}
.footer1 {
    text-align: center;
    
    width: 100%;
}
.footer1 i {
    padding: 0px 0px 0px 0px;
    color: #efefef;
    font-size: 10px;
}

}