
*{
	margin: 0px;
	padding: 0px;
}

.container{
	width: 1220px;
	margin: 0 auto;
}
/*header*/
header{
	float: left;
	width: 100%;
	background-color: #000000;
	height: 92px;

}
.logo{width: 35%;float: left;}
.logo img{

width: 148px;

height: 96px;

padding-left: 57px;
}

.menu{width: 65%;float: left;text-align: center;}
.menu img{
	width: 504px;
	height: 69px;
	float:left;
	margin-left: 278px;
	padding-top: 9px;
}
.banner{
	background-image: url(../img/Banner.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
}
.bandiv1{width: 3.5%;float: left;background-color: #213b5f00;}

.bandiv2{
	width: 54%;
	float: left;
	background-color: #153b7100;
	height: 580px;
}

.bandiv2 h1{

color: #ffffff;

padding: 102px 70px 5px 70px;

font-size: 26px;

font-family: 'Lora', serif;

font-weight: 100;

text-align: center;
}
.bandiv2 h2 {
    color: #F8EA97;
    padding: 12px 70px 0px 70px;
    font-size: 62px;
    font-weight: 100;
    text-align: center;
    line-height: 82px;
    font-family: 'Oswald', sans-serif;
}

	.power{

animation: power 1.8s infinite;
animation-delay: 0s
}
@keyframes power{
    0%{     color: #F8EA97;    }
    49%{    color: #7719AA; }
    60%{    color: #FFFFFF; }
    99%{    color: #FFFFFF;  }
    100%{   color: #DDAD31;    }
}


	
.bandiv3{
	width: 42%;
	float: left;
	background-color: #7719aa;
	height: 390px;
	text-align: center;
	margin-top: 102px;
}
.bandiv3:hover {
    transition-duration: .3s;
    box-shadow: 0px 14px 27px -17px #ffffff6b;
}
.bandiv3 h2{text-align: center;color: #F8EA97;font-family: 'Chakra Petch';padding: 38px 0px 37px 0px;font-size: 38px;}
form{display: block;text-align: center;margin: 0px 25px;}


.bandiv1st{
	clear: both;

}

.bandiv5{text-align: center;float: left;width: 100%;}

label{

background-color: #ae33f3;

width: 26%;

float: left;

color: #FFF;

font-weight: 400;

font-size: 21px;

line-height: 24px;

padding: 11px 10px 12px 0px;

margin-bottom: 10px;

font-family: 'Lora';

border-radius: 4px 0px 0px 4px;
}
label:hover{
box-shadow: 0px 1px 3px #FFFFFF;
}
input[type="text"] {
    font-size: 17px;
    color: black;
    width: 70%;
    float: left;
    border-radius: 0px 4px 4px 0px;
    padding: 13px 0px 14px 7px;
    border: 0px solid;
}
input[type="text"]:hover{
box-shadow: 0px 1px 3px #FFFFFF;
}
.name{

}
.email{
	
padding: 0px 44px 0px 0px;
}
input[type="submit"] {
    text-align: center;
    padding: 15px 25px 15px 25px;
    margin-top: 50px;
    border-radius: 30px 30px 30px 30px;
    width: 40%;
    color: white;
    font-size: 25px;
    background: #ae33f3;
    border: 0px solid;
}
input[type="submit"]:hover{box-shadow: 0px 1px 2px 2px #00000063;}

input.visited {
  color: #571D7B;
 outline: 2px solid #ffffff6b;  
}
input[type="email"]{font-size: 17px;color: black;width: 70%;float: left;border-radius: 0px 4px 4px 0px;padding: 13px 0px 14px 7px;border: 0px solid;}

input[type="email"]:hover{
box-shadow: 0px 1px 3px #FFFFFF;
}

input:focus {
 color: blue;
 outline: 2px solid #ffffff6b;  
}
input.visited {
  color: blue;
 outline: 2px solid #ffffff6b;  
}
.bandiv2nd{clear: both;margin-bottom: 0px;}

.description{background-color: #FFFFFF;width: 100%;}

.descript {
    width: 100%;
    float: left;
    margin: 450px 0px 0px 0px;
}
.descript h1 {
    text-align: center;
    margin: -394px 0px 76px 0px;
    font-size: 26px;
    color: #7719AA;
    font-family: 'Chakra Petch', sans-serif;
}

.descript1{
	width: 33.33%;
	float: left;
	text-align: center;
	
}
.descript1 button{font-size: 34px;color: #7719AA;padding: 17px 28px 17px 28px;border-radius: 50px 50px 50px 50px;border: 3px dotted #7719AA;background-color: white;margin-bottom: 27px;}
.descript1 h2{
    color: #8d6025;
    font-size: 21px;
    padding-top: 0px;
    font-family: 'PT Sans Narrow', sans-serif;
}
.descript1 p{

padding: 8px 35px 83px 35px;

font-size: 16px;

color: #000000;

line-height: 21px;

font-weight: inherit;

font-family: 'Inter', sans-serif;
}

.descript2{
	width: 33.33%;
    float: left;
    text-align: center;
    

}
.descript2 button{
	font-size: 34px;
    color: #7719AA;
    padding: 17px 28px 17px 28px;
    border-radius: 50px 50px 50px 50px;
    border: 3px dotted #7719AA;
    background-color: white;
    margin-bottom: 27px;
}
.descript2 h2{
    color: #8d6025;
    font-size: 21px;
    font-family: 'PT Sans Narrow', sans-serif;
}
.descript2 p{padding: 8px 35px 83px 35px;font-size: 16px;color: #000000;line-height: 21px;font-family: 'Inter', sans-serif;}

.descript3{
	width: 33.33%;
    float: left;
    text-align: center;
   
}
.descript3 button{
	font-size: 34px;
    color: #7719AA;
    padding: 17px 28px 17px 28px;
    border-radius: 50px 50px 50px 50px;
    border: 3px dotted #7719AA;
    background-color: white;
    margin-bottom: 27px;
}
.descript3 h2{
    color: #8D6025;
    font-size: 21px;
    font-family: 'PT Sans Narrow', sans-serif;
}
.descript3 p{padding: 8px 33px 83px 33px;font-size: 16px;color: #000000;line-height: 21px;font-family: 'Inter', sans-serif;}

.footer{background-color: #252525;width: 100%;float: left;}
.footer1{
	text-align: center;
	float: left;
	width: 100%;
}
.footer1 i{
	
padding: 14px 0px 6px 0px;
	
color: #efefef;
}
.fas {
       
        font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 6px;
    margin-bottom: 10px; 
}
