
*{
	margin: 0px;
	padding: 0px;
}

.container{
	width: 1220px;
	margin: 0 auto;
}
/*header*/
header{
	padding: 20px 0px 0px 0px;
	float: left;
	width: 100%;
	background-color: #37486900;
	height: 109px;
}
.logo{width: 35%;float: left;}
.logo img{

width: 191px;

height: 128px;

padding-left: 11px;
}

.menu{
width: 65%;
float: left;

}
.menu img{
	width: 504px;
	height: 69px;
	float:left;
	margin-left: 268px;
	padding-top: 25px;
}
.banner{
	background-image: url(../img/Banner.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 800px;
}
.bandiv1{width: 5.5%;float: left;background-color: #192f4e00;height: 500px;}

.bandiv2{
	width: 50%;
	float: left;
	background-color: #153b7100;
	height: 500px;
}

.bandiv2 h1{

color: #7719AA;

padding: 97px 71px 5px 0px;

font-size: 39px;

font-family: 'Kaushan Script', cursive;

font-weight: 500;

    text-align: center;
}
.bandiv2 h2{
	
color: #F8EA97;
	
padding: 12px 88px 0px 0px;
	
font-size: 51px;
	
font-family: 'Arapey', serif;
	
font-weight: 500;
	
text-align: center;
}

	.power{

animation: power 1.2s infinite;
animation-delay: 0s
}
@keyframes power{
    0%{     color: #F8EA97;    }
    49%{    color: #7719AA; }
    60%{    color: #000000; }
    99%{    color: #000000;  }
    100%{   color: #DDAD31;    }
}


	
.bandiv3{
	width: 42%;
	float: left;
	background-color: #7719aa94;
	height: 404px;
	margin-top: 104px;
	box-shadow: 0px 0px 2px 0px #FFFFFF;
}
.bandiv3:hover {
    margin: 102px 0px 0px 0px;
    transition-duration: .3s;
    box-shadow: 0px 14px 27px -17px #ffffff6b;
}
.bandiv3 h2{text-align: center;color: #F8EA97;font-family: 'Arapey', serif;padding: 50px 0px 32px 0px;}
form{

display: inline-grid;
}
label{

background-color: #8D6025;

color: white;

margin: 8px 0px 0px 47px;

padding: 0px 0px 0px 9px;

font-size: 19px;
box-shadow: 0px 1px 3px #1F1F1F;
}
label:hover{
box-shadow: 0px 1px 3px #FFFFFF;
}
input[type="text"]{

font-size: 15px;

margin-left: 9px;

padding: 12px 122px 12px 7px;
}
input[type="submit"] {
    margin: 33px 119px 0px 162px;
    text-align: center;
    padding: 14px 43px 14px 43px;
    font-size: 18px;
    color: white;
    background: #8d602596;
    border: 0px solid #000000;
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0px 1px 2px 1px #ffffff87;
}
input[type="submit"]:hover{
box-shadow: 0px 1px 2px 2px #000000ad;
}

input[type="email"]{

font-size: 14px;

padding: 11px 144px 11px 7px;

margin-left: 44px;
}

input:focus {
 color: blue;
 outline: 2px solid #ffffff6b;  
}
input.visited {
  color: blue;
 outline: 2px solid #ffffff6b;  
}
.bandiv4{
	width: 3%;
	float: left;
	background-color: #364c6b00;
	height: 500px;
}

.description{background-color: #FFFFFF;width: 100%;}

.descript{
width: 100%;
float: left;
;

}
.descript h1{

text-align: center;

margin: -300px 0px 72px 0px;

font-size: 38px;

color: #7719AA;

font-family: 'Arapey', serif;
}
.descript1{
	width: 33.33%;
	float: left;
	text-align: center;
	
}
.descript1 button{font-size: 34px;color: #7719AA;padding: 17px 28px 17px 28px;border-radius: 50px 50px 50px 50px;border: 3px dotted #7719AA;background-color: white;margin-bottom: 27px;}
.descript1 h2{
    color: #8D6025;
    font-size: 31px;
    padding-top: 10px;
}
.descript1 p{

padding: 40px 40px 70px 40px;

font-size: 18px;

color: #946e0b;
}

.descript2{
	width: 33.33%;
    float: left;
    text-align: center;
    

}
.descript2 button{
	font-size: 34px;
    color: #7719AA;
    padding: 17px 28px 17px 28px;
    border-radius: 50px 50px 50px 50px;
    border: 3px dotted #7719AA;
    background-color: white;
    margin-bottom: 27px;
}
.descript2 h2{
    color: #8D6025;
    font-size: 29px;
}
.descript2 p{
    padding: 15px 30px 30px 30px;
    font-size: 18px;
    color: #946e0b;
}

.descript3{
	width: 33.33%;
    float: left;
    text-align: center;
   
}
.descript3 button{
	font-size: 34px;
    color: #7719AA;
    padding: 17px 28px 17px 28px;
    border-radius: 50px 50px 50px 50px;
    border: 3px dotted #7719AA;
    background-color: white;
    margin-bottom: 27px;
}
.descript3 h2{
    color: #8D6025;
    font-size: 29px;
}
.descript3 p{

	    padding: 15px 36px 30px 36px;
    font-size: 18px;
    color: #946e0b;
}

.footer{
background-color: #9247BB;
width: 100%;
float: left;
}
.footer1{
	text-align: center;
	float: left;
	width: 100%;
}
.footer1 i{
	
padding: 12px 0px 12px 0px;
	
color: white;
}
.fas {
       
        font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 6px;
    margin-bottom: 10px; 
}
