*{
	margin: 0px;
	padding: 0px;
}

.container{
	width: 1220px;
	margin: 0 auto;
}
/*header*/
header{
	padding: 20px 0px 0px 0px;
	float: left;
	width: 100%;
	background-color: #37486900;
	height: 109px;
}
.logo{width: 35%;float: left;}
.logo img{

width: 195px;

height: 129px;

padding-left: 6px;
}

.menu{
width: 65%;
float: left;

}
.menu img{
	width: 504px;
	height: 69px;
	float:left;
	margin-left: 268px;
	padding-top: 25px;
}
.banner{
	background-image: url(../img/Banner.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 800px;
}

.bandiv1{width: 5.5%;float: left;background-color: #192f4e00;height: 500px;}

.bandiv2{
	width: 47%;
	float: left;
	background-color: #153b7100;
	height: 500px;
}
.bandiv2 h1{

color: #7719AA;

padding: 104px 0px 0px 0px;

font-size: 38px;

font-family: 'Kaushan Script', cursive;
}
.bandiv2 h2{
	
color: #F8EA97;
	
padding: 12px 0px 0px 0px;
	
font-size: 41px;
	
font-family: 'Arapey', serif;
}
.bandiv3{
	width: 44%;
	float: left;
	background-color: #7719aa94;
	height: 404px;
	margin-top: 104px;
}
.bandiv4{
	width: 3%;
	float: left;
	background-color: #364c6b00;
	height: 500px;
}

.description{
background-color: #FFFFFF;
width: 100%;


}

.descript{
width: 100%;
float: left;

}
.descript h1{

text-align: center;

margin: 50px 0px 33px 0px;

font-size: 38px;

color: #7719AA;

font-family: 'Arapey', serif;
}
.descript1{
	width: 33.33%;
	float: left;
	text-align: center;
	padding-top: 35px;
}
.descript1 button{font-size: 34px;color: #7719AA;padding: 17px 28px 17px 28px;border-radius: 50px 50px 50px 50px;border: 3px dotted #7719AA;background-color: white;margin-bottom: 27px;}
.descript1 h2{
    color: #8D6025;
    font-size: 31px;
    padding-top: 0px;
}
.descript1 p{

padding: 40px 40px 30px 40px;

font-size: 18px;

color: #946e0b;
}

.descript2{
	width: 33.33%;
    float: left;
    text-align: center;
    padding-top: 35px;

}
.descript2 button{
	font-size: 34px;
    color: #7719AA;
    padding: 17px 28px 17px 28px;
    border-radius: 50px 50px 50px 50px;
    border: 3px dotted #7719AA;
    background-color: white;
    margin-bottom: 27px;
}
.descript2 h2{
    color: #8D6025;
    font-size: 29px;
}
.descript2 p{
    padding: 15px 30px 30px 30px;
    font-size: 18px;
    color: #946e0b;
}

.descript3{
	width: 33.33%;
    float: left;
    text-align: center;
    padding-top: 35px;
}
.descript3 button{
	font-size: 34px;
    color: #7719AA;
    padding: 17px 28px 17px 28px;
    border-radius: 50px 50px 50px 50px;
    border: 3px dotted #7719AA;
    background-color: white;
    margin-bottom: 27px;
}
.descript3 h2{
    color: #8D6025;
    font-size: 29px;
}
.descript3 p{

	    padding: 15px 36px 30px 36px;
    font-size: 18px;
    color: #946e0b;
}

.footer{
background-color: #9247BB;
width: 100%;
float: left;
}
.footer1{
	text-align: center;
	float: left;
	width: 100%;
}
.footer1 i{
	
padding: 12px 0px 12px 0px;
	
color: white;
}
.fas {
       
        font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 11px;}